.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper{
    margin-top: 50px;
}

.wrapper__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__left_title{
    color: #22343D;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 350px;
    margin-bottom: 18px;
}

.wrapper__left_text{
    color: #22343D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 420px;
    margin-bottom: 45px;
}

.wrapper__left_item_block{
    display: flex;
    align-items: center;
    gap: 32px;
}

.wrapper__left_btn{
    padding: 15px 42px;
    border-radius: 5px;
    background-color: #02897A;
    border: none;
    color: white;
}

.wrapper__left_item_btn_block{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
}
.wrapper__item_btn{
    border: none;
    color: #02897A;
    background-color: white;
    font-size: 15px;
    text-decoration: underline;
}