.footer__title{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 151.4%;
    width: 450px;
    margin-top: 49px;
    margin-left: 51px;
}

.footer__block{
    display: flex;
    justify-content: space-between;
    background-color: #02897A;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.footer__btn{
    padding: 13px 35px;
    color: #02897A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    border: none;
    cursor: pointer;
    margin-left: 51px;
    margin-top: 60px;
}